.header {
    /* background: rgb(80, 79, 79); */
    height: 250px;
    width: 100% !important;
    background-image: url("../images/Mountains.jpg");
    /* background-repeat: no-repeat; */
}

.header h1 {
    margin-right: 10px;
    padding-top: 125px;
    text-align: right;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}