 .nav-tabs {
   background: white;
   display: flex;
   align-items: left;
   list-style: none;
   border-bottom: none;
 }

 .nav-item a {
   color: gray;
   font-size: 1.3rem;
   text-decoration: none;
 }